{% extends "layouts/public.njk" %}

{% block head %}

    <title>Foodfy</title>
    
{% endblock %}


{% block content %}
         
    <section class="cards_chefs">    
        {% for chef in chefs %}
        <div class="card_chef">
            <div class="card-img-container-chef">
                <img src="{{chef.src}}" alt="Image off {{chef.name}}">
            </div>
            <div class="card-inf-chef">
                <p>{{chef.name}}</p>
                {% if chef.total_recipes == 1 %}
                    <p>{{chef.total_recipes}} Recipe</p>
                {% else %}
                    <p>{{chef.total_recipes}} Recipes</p>
                {% endif %}
                <a href="chefs/{{chef.id}}" class="view_recipe">View</a>
            </div>
        </div>
        {% endfor %}
    </section>
        
{% endblock %}