{% extends "layouts/public.njk" %}

{% block head %}

    <title>Foodfy</title>
    
{% endblock %}

{% block content %}

        <section class="banner">
            <div class= "banner-content"> 
                <h1>{{index_banner.title_banner}}</h1>
                <p>{{index_banner.description_banner}}</p>
            </div>
            
            <div class="img-banner">
                <img src="{{index_banner.img_banner}}" alt="Imagem de Cheff">
            </div>            
        </section>
        
        <div id="wrapper">
            <p>Most accessed</p>
        </div>

        <section class="better_cards">          
            {% for recipe in recipes %}
                {% if recipe.homepage %}
                    <div class="card">
                        <div class="card-img {{ 'featured-wrapper' if recipe.featured }}">
                            <a href="/recipes/{{recipe.id}}"><img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}"></a>
                            {% if recipe.featured %}
                                <div class="featured">Featured</div>                    
                            {% endif %}
                        </div>
                        <div class="card-title">
                            <p>{{recipe.title}}</p>
                        </div>
                        <div class="card-author">
                            <p>{{recipe.chef_name}}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
{% endblock %}       
        