{% extends "layouts/public.njk" %}

{% block head %}

    <title>{{recipe.title}}</title>
    
{% endblock %}


{% block content %}
                 
    <div class="item-container">
    
        <div class="highlight">
            {% if not files[0] %}
                <img src="http://placehold.it/500x500?text=RECIPE NO IMAGE"/>
            {% else %}
            <img 
                src="{{files[0].src}}" 
                alt="{{files[0].name}}"
                onClick="Lightbox.open()"
            >
            {% endif %}
        

            <div class="lightbox-target">
                <img src="{{files[0].src}}" alt="{{files[0].name}}">
                <a 
                    href="#"
                    class="lightbox-close"
                    onClick="Lightbox.close()"
                >
                    <i class="material-icons">close</i>
                </a>
            </div>
            <div class="gallery-preview">
                    {% for image in files %}
                    <img 
                        src="{{image.src}}" 
                        alt="{{image.namo}}"
                        {%if loop.index0 == 0%}
                            class="active"
                        {%endif%}
                        onClick="ImageGallery.setImage(event)"
                    >
                    {% endfor %}
            </div>
        </div>
        
        <h1>{{recipe.title}}</h1>   

        <p class="item-author">{{recipe.chef_name}}</p>

        <h2>Ingredients <a class="showingr active">SHOW</a> <a class="hideingr">HIDDEN</a></h2>

            <div class="ingredients"> 
                <ul>
                    {% for ingredient in recipe.ingredients %}
                    <li>{{ingredient}}
                    {% endfor %}
                </ul>
            </div>

        <h2>Mode preparation <a class="showprep">SHOW</a> <a class="hideprep active">HIDDEN</a></h2>

            <div class="preparation active"> 
                <ul>
                    {% for preparation in recipe.preparation %}
                    <li>{{preparation}}
                    {% endfor %}
                </ul>
            </div>

        <h2>More Informations <a class="showinf active">SHOW</a> <a class="hideinf">HIDDEN</a></h2>

            <div class="information"> 
                <p>{{recipe.information}}<p>
            </div>
    </div>

    <script src="/scripts.js"></script>
        
{% endblock %}