{% extends "layouts/admin.njk" %}

{% block head %}

    <title>Foodfy - Adm - Show</title>

{% endblock %}


{% block content %}

    <section class="chef content forms">
        
        <form method="POST" action="/admin/chefs" enctype="multipart/form-data"> 
            <div class="menu">
                <div class="title">
                    <p>Create Chef</p>
                </div>
                <div class="options">                        
                    <button type="submit" onclick="Validate.allFields(event)">Save Register</button>                        
                </div>
            </div>

            {% include 'admin/chefs/fields.njk' %}

            </form>
    </section>
    
{% endblock %}