{% extends "../layout_adm.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/styles_adm.css">
    <link rel="stylesheet" href="/styles/styles_adm-chef.css">

    <title>Foodfy - Adm</title>
{% endblock %}

{% block content %}

<section class="menu_index">

    <div class="menu_title">
        <p>Manager Chefs</p>
    </div>

    <div class="options">
        <a href="/admin/chefs/create">Register Chef</a>                        
    </div>

</section>

    <section class="cards">
    
        {% for chef in chefs %}
        <div class="card_index">
            <div class="card__img-container">
                <img src="{{chef.src}}" alt="Imagem de {{chef.name}}">
            </div>
            <div class="card__inf chef">
                <p>{{chef.name}}</p>
                {% if chef.total_recipes == 1 %}
                    <p>{{chef.total_recipes}} Recipe</p>
                {% else %}
                    <p>{{chef.total_recipes}} Recipes</p>
                {% endif %}
                <a href="/admin/chefs/{{chef.id}}" class="view_recipe">View</a>
            </div>
        </div>
        {% endfor %}
    </section>

{% endblock %}       
        