<div class="fields">
    <div class="section">
        <div>Name</div>                
            <div>
                <input 
                type="text"
                name="name"
                value="{{user.name}}"                
                >
            </div>
    </div>
    <div class="section">
        <div>Email</div>                
            <div>
                <input 
                    type="email"
                    name="email"
                    value="{{user.email}}"                
                >
            </div>
    </div>
    <div class="section profile">
    <div>Passaword</div>
        <div class="input">
            <input 
                type="password" 
                name="password"
                placeholder="Type your password"
            >           
        </div>
    </div>
</div>

