<div class="fields">
    <div class="section">
        <div>Name</div>                
            <div>
                <input 
                type="text"
                name="name"
                value="{{user.name}}"                
                >
            </div>
    </div>
    <div class="section">
        <div>Email</div>                
            <div>
                <input 
                    type="email"
                    name="email"
                    value="{{user.email}}"                
                >
            </div>
    </div>
</div>
<div class="section">               
        <div class="checkbox">
            <input
                type="checkbox"
                name="is_admin"
                value="true"
                {%if user.is_admin == true %}
                    checked
                {%endif%}                     
            > Administrator
        </div>
</div>

