<div class="fields">
    <div class="section">
        <div>Name</div>                
            <div>
                <input 
                type="text"
                name="name"
                value="{{user.name}}"                
                >
            </div>
    </div>
    <div class="section">
        <div>Email</div>                
            <div>
                <input 
                    type="email"
                    name="email"
                    value="{{user.email}}"                
                >
            </div>
    </div>
</div>
<div class="section">               
        <div class="checkbox">
            <input
                id="checkbox1" 
                type="checkbox"
                name="is_admin"
                value="{{user.is_admin}}"                
            >
            <label for="checkbox1">Administrator</label>
        </div>
</div>

