{% extends "layouts/admin.njk" %}

{% block head %}

    <title>Foodfy Adm</title>
    
{% endblock %}

{% block content %}

<section class="menu_index">

    <div class="menu_title">
        <p>Manager Users</p>
    </div>

    <div class="options">
        <a href="/admin/users/register">New</a>                        
    </div>

</section>

    <section class="cards users">
    
        {% for user in users %}
        <div class="card_index">
            <div class="card__inf">
                <p>{{user.name}}</p>
                <p>{{user.email}}</p>
                <div class="card__inf-options">
                    <a href="/admin/users/{{user.id}}" class="view_recipe">Edit</a>
                    <form id="form-delete" method="post" action="/admin/users?_method=DELETE">
                        <input type="hidden" name="id" value={{user.id}}>
                        <button class="button-delete-user" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

{% endblock %}       
        