{% extends "layouts/admin.njk" %}

{% block head %}    

    <title>Foodfy Adm</title>
    
{% endblock %}


{% block content %}

   <section class="content forms">
        
        <form method="POST" action="/admin/profile/?_method=PUT"> 
            <div class="menu">
                <div class="title">
                    <p>Welcome {{firstNameUser}}</p>
                </div>
                <div class="options">                        
                    <button type="submit">Save</button>                      
                </div>
            </div>
            
            {% include 'admin/users/fields_profile.njk' %}

            <input type="hidden" name="id" value="{{user.id}}">           

            </form>
    </section>    

    <script src="/scripts_adm.js"></script>
        
{% endblock %}