{% extends "layouts/admin.njk" %}

{% block head %}    

    <title>Foodfy Adm</title>

{% endblock %}


{% block content %}

    <section class="user-register content forms">
        
        <form method="POST" action="/admin/users/register"> 
            <div class="menu">
                <div class="title">
                    <p>Create User</p>
                </div>
                <div class="options">                        
                    <button type="submit" onclick="Validate.allFields(event)">Save Register</button>
                    <a href="/admin/users">Cancel</a>                       
                </div>
            </div>

            
            {% include 'admin/users/fields.njk' %}
            

            </form>
    </section>
    
{% endblock %}