<!DOCTYPE html>

<html>
    <head>
    <link rel="stylesheet" href="/global.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% block head %}
{% endblock %}

    </head>

    <body>
        <header>
            <div>
                <a id="logo" href="/admin/recipes">Foodfy</a>
                <a id="menu" href="/admin/recipes">RECIPES</a>
                <a id="menu" href="/admin/chefs">CHEFS</a>                
            </div>
        </header>
                
{% block content %}    
{% endblock %}

        <script src="/scripts_adm.js"></script>  
    
    </body>
    
</html>