/* === INDEX USERS === */

/* === SHOW USERS === */

/* === FORMS USER === */

/* cancel button */
.user-register.content.forms .options a {
    background-color: #8A8A8A;
}

.user-register.content.forms .fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.user-register.content.forms .fields .section {
    margin: 0;
}

.user-register.content.forms .section .checkbox {
margin-top: 35px;
align-items: center;

}

.user-register.content.forms .section .checkbox input {
width: 15px;
height: 15px;
margin-right: 4px;
}

