/* === INDEX USERS === */

.cards.users {
    width: 940px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;

}

.card__inf .card__inf-options {
    display: flex;
    align-items: baseline;  
}

.card__inf form {
    margin-left: 16px;
}

.card__inf .button-delete-user {
    padding: 0;
    width: 0;
    height: 0;
    font-size: 14px;
    background: white;
    color: #F55A5A;
}

/* === SHOW USERS === */

/* === FORMS USER === */

/* cancel button */
.user-register.content.forms .options a {
    background-color: #8A8A8A;
}

.content .fields,
.user-register.content.forms .fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.content .section,
.user-register.content.forms .fields .section {
    margin: 0;
}

.content .section .checkbox,
.user-register.content.forms .section .checkbox {
margin-top: 35px;
align-items: center;

}

.content .section .checkbox input,
.user-register.content.forms .section .checkbox input {
width: 15px;
height: 15px;
margin-right: 4px;
}

.content .section.profile {
    margin-top: -30px;
}

