header {
    padding: 25px 0px;
    background: white;
    width: 100%;
}
header div {
    max-width: 940px;
    display: flex;
    justify-content: center;
}
header div #logo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    letter-spacing: 1.65px;
    text-decoration: none;
    color: black;
    margin: 0;
}

body {
    background: white;
    font-family: 'Roboto';
    color: #111111;
    font-weight: 400;
    display: flex;
    flex-direction: column;  
    height: 100vh;                  
}

/* === BUTTONS FORMAT === */
.footer button {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #6558C3;
    color: #FFFFFF;
    width: 134px;
    height: 37px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
}

.footer .lost-password {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #969696;
    margin: 0;
}


/* === FORMS FORMAT === */

/* width forms */
.login-container form {
    margin-top: 100px;
    max-width: 500px;
    width: 500px;
    height: 275px;
    text-align: left;    
}

.login-container h3 {
    font-size: 24px;
    font-weight: bold;
    color: #111111;
    text-align: center;
}


/* description of input */
.login-container .section .field > div:nth-child(1) { 
    font-weight: bold;
    font-size: 16px;
    color: #111111;
    margin-top: 35px;
}

/* input */
.login-container .section .field .input input {
    width: 459px;

    box-shadow: 2px 2px 2px -4px rgb(60, 60, .9);
    border: 1px solid #DDDDDD;
    border-radius: 4px;

    font-size: 14px;
    color: #111111;

    padding: 10px 20px;
    margin-top: 10px;
}

/* input */
.login-container .section .field input {
    width: 100%;
    outline: none;
    font-size: 16px;
    color: #111111;
    line-height: 24px;
}

.login-container .section .field div .error {
    background-color: #e74c3c;
    padding: 4px;
    border-radius: 4px;
    color: white;
    margin-top: 4px;
}

.login-container .footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 44px;
}

.login-container .footer.recovery-reset {
    justify-content: flex-end;
}