<header>
    <div>
        <a id="logo" href="/admin/recipes">Foodfy</a>
        <a id="menu" href="/admin/recipes">RECIPES</a>
        <a id="menu" href="/admin/chefs">CHEFS</a>                
        <a id="menu" href="/admin/users">USERS</a>
        <a id="menu" href="/admin/users">MANEGEMANT</a>
        <a id="menu" href="/admin/users">LOGOUT</a>
               
    </div>
</header>