{% if error %}
    <div class="messages_auth error">
        <p>{{error}}</p>
    </div>
{% endif %}

{% if success %}
    <div class="messages_auth success">
        <p>{{success}}</p>
    </div>
{% endif %}