{% extends "../layout_adm.njk" %}

{% block head %}    
    <link rel="stylesheet" href="/styles/admin/styles_adm.css">
    <link rel="stylesheet" href="/styles/admin/styles_adm-recipe.css">
    
    <title>Foodfy - Adm - Show</title>
{% endblock %}


{% block content %}

    <section class="recipe content forms">
        
        <form method="POST" action="/admin/recipes" enctype="multipart/form-data"> 
            <div class="menu">
                <div class="title">
                    <p>Create Recipe</p>
                </div>
                <div class="options">
                    <button type="submit">Save Register</button>                        
                </div>
            </div>

            {% include 'admin/recipes/fields.njk' %}

            </form>
    </section>

  
    <script src="/scripts_adm.js"></script>
    
{% endblock %}