{% extends "../layout_adm.njk" %}

{% block head %}    
    <link rel="stylesheet" href="/styles_adm.css">
    <link rel="stylesheet" href="/styles_adm-recipe.css">
    <title>Foodfy - Adm - Show</title>
{% endblock %}


{% block content %}

    <section class="menu">
        <div class="title">
            <p>Recipe: {{recipe.title}}</p>
        </div>
        <div class="options">
            <a href="/admin/recipes/{{recipe.id}}/edit">Edit Recipe</a>
        </div>
    </section>

    <section class="content">          
        <div class="container">
            <div class="gallery">
                <div class="highlight">
                    {% if not files[0] %}
                        <img src="http://placehold.it/500x500?text=RECIPE NO IMAGE"/>
                    {% else %}
                    <img 
                        src="{{files[0].src}}" 
                        alt="{{files[0].name}}"
                        onClick="Lightbox.open()"
                    >
                    {% endif %}
                

                    <div class="lightbox-target">
                        <img src="{{files[0].src}}" alt="{{files[0].name}}">
                        <a 
                            href="#"
                            class="lightbox-close"
                            onClick="Lightbox.close()"
                        >
                            <i class="material-icons">close</i>
                        </a>
                    </div>
                </div>

                <div class="gallery-preview">
                    {% for image in files %}
                    <img 
                        src="{{image.src}}" 
                        alt="{{image.namo}}"
                        {%if loop.index0 == 0%}
                            class="active"
                        {%endif%}
                        onClick="ImageGallery.setImage(event)"
                    >
                    {% endfor %}
                </div>
            </div>        
            
            <h1>{{recipe.title}}</h1>   

            <p class="author">{{recipe.chef_name}}</p>

            <h2>Ingredients</h2>

                <div class="ingredients"> 
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                        <li>- {{ingredient}}
                        {% endfor %}
                    </ul>
                </div>

            <h2>Preparation Method</h2>

                <div class="preparations"> 
                    <ul>
                        {% for preparation in recipe.preparation %}
                        <li>- {{preparation}}
                        {% endfor %}
                    </ul>
                </div>

            <h2>More Information</h2>

                <div class="information"> 
                    <p>{{recipe.information}}<p>
                </div>
        </div>

    </section>   

    <script src="/scripts_adm.js"></script>
        
{% endblock %}