<!DOCTYPE html>

<html>
    <head>
    {%include "admin/parts/styles.njk"%}

{% block head %}
{% endblock %}

    </head>

    <body>
        {%include "admin/parts/messages.njk"%}

        {%include "admin/parts/header.njk"%}
                
{% block content %}    
{% endblock %}

        <script src="/scripts_adm.js"></script>  
    
    </body>
    
</html>