<!DOCTYPE html>

<html>
    <head>

    {%include "admin/parts/styles_auth.njk"%}

{% block head %}
{% endblock %}

    </head>

    <body>
        {%include "admin/parts/messages.njk"%}

        {%include "admin/parts/header_auth.njk"%}
                
{% block content %}    
{% endblock %}

        <script src="/scripts_adm.js"></script>  
    
    </body>
    
</html>