{% extends "./layout.njk" %}

{% block head %}    
    <link rel="stylesheet" href="/styles/styles_chefs.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Foodfy</title>
{% endblock %}


{% block content %}
         
        <section class="cards_chefs">
    
        {% for chef in chefs %}
        <div class="card_chef">
            <div class="card__img-container-chef">
                <img src="{{chef.src}}" alt="Image off {{chef.name}}">
            </div>
            <div class="card__inf-chef">
                <p>{{chef.name}}</p>
                {% if chef.total_recipes == 1 %}
                    <p>{{chef.total_recipes}} Recipe</p>
                {% else %}
                    <p>{{chef.total_recipes}} Recipes</p>
                {% endif %}
                <a href="chefs/{{chef.id}}" class="view_recipe">View</a>
            </div>
        </div>
        {% endfor %}
    </section>
        
{% endblock %}